



* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}
 /* background: linear-gradient(3deg, rgba(51,218,129,1) 31%, rgba(168,225,231,0) 96%); */

body {
   background-color: rgb(250, 246, 246);
}

.hdr {
    padding: 0.5rem;
    display: flex;
    /* background-color: rgb(148, 238, 191); */
    align-items: center;
    color: #991f1f;
    font-size: 1rem;
    /* justify-content: space-between; */       
}

.logo {
    width: 5rem;
}

.login{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 4rem;
}

.login i, .social a {
    color: #7e5d5d;
    font-size: 1.5rem;
}

.social {
    display: flex;
    gap:3rem;
    margin-left: 9rem;
}

.social i{
    font-size: 1.5rem 
}


.login input{
    border: 1px solid rgb(115, 165, 139);
    border-radius: 4px;
    width: 18rem;
    height: 2.5rem;
    text-align: center;
    background-color: rgb(217, 236, 226);
    color: #7e5d5d;
    font-size: 1.1rem;
}

.lista_pai{
    display: flex;
    margin-left: 3rem;
}

.lista_pai li{
    margin-right: 2rem;
}

.lista_pai li a{
    margin-right: 1rem;
    color: #7e5d5d;
}

.lista_pai li a:hover {
    border: 1px solid opacity;
    background-color: rgb(115, 165, 139); 
    transition: 0.2s;
    color: #fff;
}
/* 
.hr_hdr {
    height: 0.09rem;
    background-color: rgb(17, 80, 47);
    opacity: 70%;

} */

.s1 {
    padding: 20vh;
    margin-top: 0.5rem;
    background-image: url(img/fundo_s1_t.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
    
    /* background: linear-gradient(3deg, rgba(51,218,129,1) 5%, rgba(168,225,231,0) 96%), url(img/fundo_s1_t.png); */
}

.s1 h1{
    color: rgb(17, 80, 47); 
    font-size: 5rem;
    text-align: center;
}


.s1 p{
    color: rgb(17, 80, 47);
    font-size: 2rem;
    text-align: center;
    
}

.s1 hr{
    height: 0.5rem;
    width: 5rem;
    background-color: rgb(17, 80, 47);
    margin: 1rem auto;
}

.s2 {
    padding: 10vh;
}

.s2 H1{
    text-align: center;
    color: rgb(17, 80, 47);
    margin-bottom: 2rem;
}

.container_s2 {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    background-color: rgb(250, 246, 246);
    width: 92vw auto;
    height: 51vh auto;
    /* opacity: 80%;  */
}

.container_s2 .item {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 25rem;
    height: 25rem;
    background-color: #fff;
    /* border-radius: 4px; */
    /* margin-top: -8rem; */
    color: rgb(5, 34, 19);
    text-align: center;
    box-shadow: 5px 5px 10px black;
}


.container_s2 .item1 img {
    width: 25rem;
    height: 15rem;
    margin-bottom: 1rem;
}

.container_s2 .item2 img {
    width: 25rem;
    height: 15rem;
    margin-bottom: 1rem;
}

.container_s2 .item3 img {
    width: 25rem;
    height: 15rem;
    margin-bottom: 1rem;
}

.container_s2 .item3 span {
    color: blue;
}

.s3 {
    background: linear-gradient(3deg, rgba(51,218,129,1) 31%, rgba(168,225,231,0) 96%);
    display: flex;
    justify-content: center;
}

.slide {
    margin: 1rem 0 1rem 0;
    width: 50rem;
    height: auto;
}
/* 
.w-100 {
    
} */

.s4 {
   height: auto;
   display: flex;
   justify-content: center;
   background-color: rgb(231, 225, 225);
}

.container_s4 {
    width: 35rem;
    height: 11rem;
    background-color: rgb(245, 241, 241);
    border-radius: 4px;
    margin: 2rem 0 2rem 0;
}

.item_s4 {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.item_s4 h2 {
    margin-top: 1rem;
}

.item_s4 input {
    width: 25rem;
    height: 3rem;
    border-radius: 4px;
    border: 2px solid grey;
    background-color: rgb(217, 236, 226);
    color: #7e5d5d;
    font-size: 1.1rem;
}

.item_s4 input::placeholder {
    text-align: center
}

.footer {
    padding: 3vw;
    background-color: #f0bfbf;

   }

  .container_foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
        
  }
.social_foot i {
    color: black;
    font-size: 2rem;
    margin-inline: 2rem;
}

.pv a {
    color: black
}